.dropdown__lang {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown__lang .dropdown__lang-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown__lang .dropdown__lang-title svg{
    margin-right: 5px;
}

.dropdown__lang .dropdown__lang-items {
    position: absolute;
    top: 35px;
    right: 0;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    width: auto;
}

.dropdown__lang .dropdown__lang-items .dropdown__lang-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown__lang .dropdown__lang-items .dropdown__lang-item p{
    margin-left: 14px;
    margin-right: 6px;
    margin-top: -4px;
}

@media (max-width: 576px) {
    .dropdown__lang .dropdown__lang-items{
        padding: 12px 12px 10px 12px;
    }
}