.dropdown button:hover {
    background: none;
}

.dropdown .dropdown__items {
    border-radius: 8px;
}

.dropdown .dropdown__items a {
    color: #333333;
    text-decoration: none;
}

.dropdown .dropdown__items .dropdown__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.dropdown .dropdown__items .dropdown__item:hover {
    background: #F2F3F7;
}