.footer {
    background: #F2F3F7;
    border-top: 1px solid #9A9AAB;
    padding: 10px 0;
}

.footer .footer__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footer__flex svg{
    width: 25px;
    height: 26px;
    margin: 0 2px;
}