.header {
    background: #F2F3F7;
    padding: 12px 0;
    border-bottom: 1px solid #D3D5DC;
}

.header .header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .header__flex .header__logo img {
    width: 40px;
    height: 40px;
}

.header .header__flex .header__end {
    display: flex;
}

.header .mantine-Input-wrapper {
    margin-left: 100px;
}

@media (max-width: 576px) {
    .header .mantine-Input-wrapper {
        margin-left: 0;
    }
    .header .header__flex .header__logo img{
        width: 30px;
        height: auto;
    }   
}